/* COMMON */
body {
    color: #333;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    background-color: royalblue;
}

header .inner {
    width: 1100px;
    height: 120px;
    margin: 0 auto;

    position: relative;

    background-color: orange;
}

header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    display: none;
}

header .sub-menu {
}

header .sub-menu ul.menu {
    display: flex;

    font-family: Arial, sans-serif;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li::before {
    content: "";
    display: block;

    width: 1px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;

    margin: auto;

    background-color: #e5e5e5;
}

header .sub-menu ul.menu li:first-child:before {
    display: none;
}

header .sub-menu ul.menu li a {
    display: block;

    padding: 11px 16px;

    font-size: 12px;
    color: #656565;
}

header .sub-menu ul.menu li a:hover {
    color: #000;
}

header .sub-menu ul.menu .search {
}

header .sub-menu ul.menu .search input {
}

header .sub-menu ul.menu .search .material-icons {
}
